@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
::before,
::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header 
{
    height: 10vh;
    position: fixed;
    width: 100%;
}
header h2 
{
    display: flex;
    font-size: 40px;
    color: #ffffff;
    justify-content: left;
}
.nav1 
{
    height: 100%;
    width: 100%;
    background-color: rgb(116, 110, 110);
    font-family: "Segoe UI";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header li
{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 22px;
    font-size: 23px;
    font-family: "Inter";
}
main
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: rgb(116, 110, 110);
}
.para 
{
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 
{
    color:white;
    font-size: 4.5rem;
}
h2 
{
    color: rgb(67, 61, 61);
    font-size: 1.5rem;
}

h3 
{
    color: rgb(67, 61, 61);
    font-size: 1rem;
}
.para i 
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 10%;
    color: red;
    font-size: 60px;
}
#competence
{
background-color: white;
}
#competence h2
{
    color: red;
    text-align: center;
    margin: 3rem;
    font-size: 2.5rem;
}
.competences
{
    background-color: black;
    margin:0 auto;
    height: 60vh;
    width: 70vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}
.competences img
{
    width: 100px;
    margin: 20px;
    border:2px solid white;
    padding: 15px;
    border-radius: 10px;
}
/*
.container2 :nth-child(1)
{
    margin-top: 1rem;
    grid-area: 1/2;
}
.container2 :nth-child(2)
{
    margin-top: 1rem;
    grid-area: 2/3;
} */
/* .copy
{
    color: black;
    text-align: center;
} */
